﻿@model MyFilm.Models.Film

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FilmName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilmName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilmYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilmYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilmGenre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilmGenre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilmDurability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilmDurability)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilmRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilmRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilmBudget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilmBudget)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
