﻿@model MyFilm.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FilmName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilmName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilmYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilmYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilmGenre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilmGenre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilmDurability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilmDurability)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilmRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilmRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilmBudget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilmBudget)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
