﻿@model MyFilm.Models.Film

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="FilmName" class="control-label"></label>
                <input asp-for="FilmName" class="form-control" />
                <span asp-validation-for="FilmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmYear" class="control-label"></label>
                <input asp-for="FilmYear" class="form-control" />
                <span asp-validation-for="FilmYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmGenre" class="control-label"></label>
                <input asp-for="FilmGenre" class="form-control" />
                <span asp-validation-for="FilmGenre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmDurability" class="control-label"></label>
                <input asp-for="FilmDurability" class="form-control" />
                <span asp-validation-for="FilmDurability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmRate" class="control-label"></label>
                <input asp-for="FilmRate" class="form-control" />
                <span asp-validation-for="FilmRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmBudget" class="control-label"></label>
                <input asp-for="FilmBudget" class="form-control" />
                <span asp-validation-for="FilmBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
