﻿@model IEnumerable<MyFilm.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FilmName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmGenre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmDurability)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmRate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmBudget)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FilmName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmGenre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmDurability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmBudget)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
